.selection {
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width: 300px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 0;
}
.classLabel {
    cursor: pointer;
}
#classSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}