.classSelection {
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width: 30%;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.hidden {
    display: none;
}
.classSelection img {
    height: 40px;
    margin: 10px;
    border-radius: 3px;
}
.classSelection svg {
    height: 20px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s, fill 0.5s;
}
#selected svg {
    transform: rotate(-90deg);
    fill: rgb(100, 200, 255);
}