html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}
header {
    background-color:rgb(60, 60, 60);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
}
header button {
    background-color: inherit;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
}
header button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(185, 185, 185);
    border-bottom: 2px solid rgb(200, 200, 200);
}
#activeTab{
    cursor: default;
    text-shadow: none;
    border-bottom: 2px solid rgb(100, 200, 255);
}
body {
    margin: 50px 10% 0px 10%;
}
#headerLinks {
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
}
.selection {
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    border-radius: 5px;
    width: 30%;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 0;
}
.selection img {
    height: 40px;
    margin: 10px;
    border-radius: 3px;
}
.selection svg {
    height: 20px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s, fill 0.5s;
}
#selected svg {
    transform: rotate(-90deg);
    fill: rgb(100, 200, 255);
}
.popout {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0px;
    width: 200px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}
.popout.active {
    width: 500px;
    transform: translateX(110%);
    opacity: 1;
}
.hidden {
    display: none;
}