.classSelection {
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width: 30%;
    position: relative;
}.hidden {
    display: none;
}
.classSelection img, .classSelection svg {
    height: 20px;
    margin: 3px;
}
.classSelection svg {
    position: absolute;
    right: 2px;
}